/* Genel stil ayarları */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    transition: background-color 0.3s, color 0.3s;
}

/* Başlık çubuğu (header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: burlywood;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 10px;
}

.logo {
    display: flex;
}

.logo img {
    display: block;
    height: 50px;
    border-radius: 100%;
}

.logo h1 {
    display: none;
}

/* Arama çubuğu */
.search-bar {
    display: flex;
    height: 38px;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

/* Menü */
.menu {
    position: relative;
}

#menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-items {
    display: flex;
    top: 30px;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    border-radius: 5px;
}

#menu-items li {
    padding: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: burlywood; /* Daha koyu mavi */
}


/* Tema değiştirme düğmesi */
#theme-toggle {
    height: 38px;
    width: 38px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle img {
    max-width: 100%;
}

.content {
    display: flex;
    background-color: burlywood;
    border-radius: 10px;
    margin: 15px;
}

/* Koyu tema */
body.dark {
    background-color: #333;
    color: #fff;
}

body.dark header {
    background-color: #444;
}

body.dark .search-bar input,
body.dark .search-bar button {
    border: 1px solid #555;
}

body.dark .desktop-menu a {
    color: #fff;
}

body.dark .desktop-menu a:hover {
    background-color: #555;
}

body.dark #theme-toggle {
    background-color: #444;
    color: #fff;
}

/* Mobil görünüm için medya sorgusu */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #menu-items {
        display: none;
    }
}